<!--
  Generated template for the MatriculaDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ matricula.turma.disciplina.codigo }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item text-wrap>
    <h2>{{matricula.turma.disciplina.codigo + ' - ' + matricula.turma.disciplina.nome}}</h2>
    <h2>{{matricula.turma.codigo}}</h2>
    <p *ngFor="let horario of matricula.turma.horarios">{{ horario.dia+': '+horario.horaInicio+'-'+horario.horaFim}}</p>
  </ion-item>
</ion-content>

<ion-footer *ngIf="(matricula.status == 'PreMatricula' || matricula.status == 'Retirado' || matricula.status == 'Confirmado')">
  <div class="btn-wrapper">
    <button ion-button icon-left color="danger" (click)="alterarStatus('Retirado')">
      <ion-icon name="close-circle"></ion-icon>
      {{ 'REJECT_BUTTON' | translate }}
    </button>
    <button ion-button icon-left color="secondary" (click)="alterarStatus('Confirmado')">
      <ion-icon name="checkmark-circle"></ion-icon>
      {{ 'CONFIRM_BUTTON' | translate }}
    </button>
  </div>
</ion-footer>
<ion-footer *ngIf="(matricula.status === undefined)">
  <div class="btn-wrapper">
    <button ion-button icon-left color="danger" (click)="excluir()">
      <ion-icon name="close-circle"></ion-icon>
      {{ 'DELETE_BUTTON' | translate }}
    </button>
  </div>
</ion-footer>


